<div class="ui threaded comments">
  <div class="comment" ng-repeat="status in statuses">
    <a class="avatar">
      <img ng-src="{{ status.avatar }}">
    </a>
    <div class="content">
      <a class="author">{{ status.name }}</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        {{ status.status }}
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
</div>